/*  your css code here. If applicable */
.container{
	background-color:#f5f5f5;
	padding:20px;
}
h1{
	border:1px solid #f5f5f5;
	padding:10px;
	background-color:#f5f5f5;
	
}
#text{
	border:1px solid black;
	margin-bottom:20px;
	background-color:white;
}
#author{
	text-align:right;
	font-style:italic;
}
